@page
@model Reseñas.Pages.LanzamientosModel
@{
}
<link rel="stylesheet" type="text/css" href="~/css/Inicio.css">
<div class="card">
    <h2>Frida Kahlo</h2>
    <p>90 min.</p>
    <p class="rating">Frida Kahlo</p>
    <p class="fecha">2020 Reino Unido</p>
    <p>Documental que explora el simbolismo y los temas de las pinturas de uno de los iconos femeninos más importantes: Frida Kahlo. Sus coronas de flores, cejas grandes y vestimentas tradicionales mexicanas ... [+]</p>
    <p class="fecha">Cines41</p>
    <p class="rating"></p>
    <p class="rating">desde: lunes, 29 de mayo</p>
</div>

<div class="card">
    <h2>Ricochet. Retrato de una venganza</h2>
    <p>93 min.</p>
    <p class="rating">Ricochet. Retrato de una venganza</p>
    <p class="fecha">2020 México</p>
    <p>Drama Martijn es un holandés de mediana edad que reside desde hace décadas en un pueblecito de México que parece haber quedado inmóvil en el tiempo. Vivió, junto a su esposa Mariana, la muerte de su ... [+]</p>
    <p class="rating">Rodrigo Fiallega</p>
    <p class="fecha">Martijn Kuiper, Iazua Larios, Andrés Almeida ...</p>
    
    <p class="fecha">Cines2</p>
    <p class="rating">5,7</p>
    <p class="fecha">77</p>
    <p class="rating">desde: martes, 30 de mayo</p>
</div>

<div class="card">
    <h2>The Boogeyman</h2>
    <p>98 min.</p>
    <p class="rating">The Boogeyman</p>
    <p class="fecha">2023 Estados Unidos</p>
    <p>Terror La alumna de instituto Sadie Harper y su hermana pequeña Sawyer se están recuperando de la reciente muerte de su madre pero no cuentan con demasiado apoyo por parte de su padre, Will, un terapeuta que ... [+]</p>
    <p class="rating">Rob Savage</p>
    <p class="fecha">Chris Messina, Sophie Thatcher, David Dastmalchian ...</p>
   
 
    <p class="rating">desde: viernes, 2 de junio</p>
</div>

<div class="card">
    <h2>Spider-Man: Cruzando el Multiverso</h2>
    <p>Spider-Man: Cruzando el Multiverso</p>
    <p class="fecha">2023 Estados Unidos</p>
    <p>Aventura, Acción, Animación En esta película animada, Miles Morales se convierte en el Spider-Man de su realidad y descubre la existencia de otros universos paralelos. Junto con otros Spider-Man de diferentes dimensiones, Miles debe ... [+]</p>
    <p class="rating">Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
    <p class="fecha">Shameik Moore, Jake Johnson, Hailee Steinfeld ...</p>

    
    <p class="rating">desde: viernes, 30 de junio</p>
</div>

<div class="card">
    <h2>El origen del mal</h2>
    <p>El origen del mal</p>
    <p class="fecha">2023 España</p>
    <p>Thriller psicológico Ángela trabaja como enfermera en el servicio de urgencias de un hospital. Después de perder a su marido en un accidente de coche, sufre una depresión que la sumerge en una tristeza profunda. Su ... [+]</p>
    <p class="rating">Jorge Torregrossa</p>
    <p class="fecha">Ingrid García Jonsson, Verónica Echegui, Juan Diego Botto ...</p>
    
   
    <p class="rating">desde: viernes, 16 de junio</p>
</div>

<div class="card">
    <h2>La hermandad</h2>
    <p>La hermandad</p>
    <p class="fecha">2023 España</p>
    <p>Terror La hermandad es un thriller sobrenatural centrado en la vida de Sara, una adolescente de 17 años que se muda con su hermana y su madre a una vieja casa. Pronto descubrirá que la casa ... [+]</p>
    <p class="rating">Pedro Aguilera</p>
    <p class="fecha">Irene Escolar, Aitana Sánchez-Gijón, Tamar Novas ...</p>
  
    <p class="fecha"></p>
    <p class="rating">desde: viernes, 23 de junio</p>
</div>
