@page
@model Reseñas.Pages.RecomendacionesModel
@{
}
<link rel="stylesheet" type="text/css" href="~/css/Inicio.css">

<h2 class="lista">Recomendaciones</h2>
<div class="card">
    <h2>Anchorman: The Legend of Ron Burgundy</h2>
    <p>Un presentador de noticias de la década de 1970 se enfrenta a cambios en su vida profesional y personal.</p>
    <p class="rating">7.2/10</p>
    <a class="reviews-link" href="enlace_a_las_resenas">Leer reseñas</a>
</div>

<div class="card">
    <h2>Zoolander</h2>
    <p>Un famoso modelo masculino es reclutado para frustrar un complot internacional contra el mundo de la moda.</p>
    <p class="rating">6.5/10</p>
    <a class="reviews-link" href="enlace_a_las_resenas">Leer reseñas</a>
</div>

<div class="card">
    <h2>Deadpool</h2>
    <p>Un mercenario desfigurado adquiere poderes de curación acelerada y se convierte en un antihéroe con un sentido del humor peculiar.</p>
    <p class="rating">8/10</p>
    <a class="reviews-link" href="enlace_a_las_resenas">Leer reseñas</a>
</div>

<div class="card">
    <h2>Tropic Thunder</h2>
    <p>Un grupo de actores de Hollywood se encuentra en medio de un conflicto real mientras filman una película de guerra en la jungla.</p>
    <p class="rating">7/10</p>
    <a class="reviews-link" href="enlace_a_las_resenas">Leer reseñas</a>
</div>
<div class="card">
    <h2>Step Brothers</h2>
    <p>Dos hombres adultos inmaduros se convierten en hermanastros y se meten en todo tipo de situaciones cómicas.</p>
    <p class="rating">7.5/10</p>
    <a class="reviews-link" href="enlace_a_las_resenas">Leer reseñas</a>
</div>